.comic {
  padding: 12px;
  text-align: center;
  width: 180px;
  height: 360px;

  .comic:hover {
    transform: scale(1.1);
  }

  &__cover {
    max-height: 220px;
    width: auto;
    transition: all 0.2s ease-in-out;
  }

  &__cover:hover {
    transform: scale(1.1);
  }

  &__name {
    padding: 1.6rem 0 0;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__price {
    font-weight: 900;
    font-size: 1.8rem;
    font-style: italic;
    padding-top: 1.2rem;
  }

  &__buy-button {
    font-size: 1.3rem;
    padding: 1.4rem 3.6rem;
    color: #fff;
    font-weight: 900;
    background-color: #01a418;
    border-radius: 0.4rem;
    border: none;
    margin: 0.6rem 0 0;
  }

  &__buy-button:hover {
    cursor: pointer;
  }
}
