h1 {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}
form {
  display: flex;
  width: 42rem;
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 3rem 3rem 8rem;
  background-color: #fff;
  color: #666;
}

form [type="submit"] {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.1rem;
  padding: 1.1rem;
  color: #fff;
  background-color: #01a418;
  border-radius: 0.6rem;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
form label {
  font-size: 1.2rem;
  font-weight: 900;
  color: #666;
  margin: 2rem 0 0.8rem;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
form input {
  flex: 1 1 auto;
  font-size: 1.4rem;
  padding: 1.2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}
.signup {
  font-size: 1.4rem;
  padding: 2rem 0 0;
  & a {
    color: #01a418;
  }
}
.darkTheme {
  background-color: var(--darkBg);
  padding: 6rem 8rem 8rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
